@model CartViewModel

<li>
    <a asp-controller="Cart" asp-action="Index">
        <span class="glyphicon glyphicon-shopping-cart"></span>(@Model.CartRepository.GetTotalProductQuantity())
    </a>
</li>