@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="POST" id="logout">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logout').submit()">Log out</a></li>
        </ul>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a>Hello, @User.Identity.Name!</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        @await Component.InvokeAsync("CartSummary")
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Sign up</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}